/* NavBar.css */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #333;
    padding: 10px;
  }
  
  .brand {
    font-size: 24px;
    font-weight: bold;
    color: #030303; 
    margin-right: 20px;
  }
  
  .categories {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .categories li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .categories li a {
    text-decoration: none;
    color: #000000; 
    padding: 5px 10px; 
    border-radius: 5px; 
  }
  
  .categories li a:hover {
    background-color: #555; 
  }
  